.home-section-1 {
  background-color: #d74234;
  min-height: 550px;
  padding: 100px 0;
  color: #fff;
  > .container {
    > .row {
      > .col {
        > .div1 {
          > h1 {
            color: #fff;
            font-weight: 700;
            font-size: 40px;
            line-height: 52px;
          }
          >p{
              font-size: 18px;
              font-weight: 500;
          }
          >.cta-wrapper{
              >.btn{
                  display: inline-block;
                  text-decoration: none;
                  font-weight:bold;
                  cursor: pointer;
                  color: #333 !important;
                  padding: 10px 20px;
                  font-size: 18px;
                //   width: 100%;
                  border-radius: 0;
                  background: #fff;
                  box-shadow: 0px 0px 0px 3px #473228,
                  -6px 6px #ef5f17,
                  -6px 6px 0px 3px #473228;
              }
          }
        }
      }
    }
  }
}
